---

---
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Sdxlate : Xmile Translators and Related Development Tools ">

    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/bootstrap.css">

    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/stylesheet.css">
 
    <title>Sdxlate</title>
  </head>

<body>
    <!-- HEADER -->
    {% include page_header.html %}

<div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar">b1</span>
            <span class="icon-bar">b2</span>
            <span class="icon-bar">b3</span>
          </button>
          <a class="navbar-brand" href="#">Resources</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="http://models/index.html">Models</a></li>
            <li><a href="https://github.com/SDXchange/SDXlate">Repository</a></li>
            <li><a href="https://tools/index.html">Tools</a></li>
            <li><a href="https://how-to/index.html">HowTo</a></li>
            <li><a href="/downloads/index.html">Downloads</a></li>
            <li><a href="/downloads/index.html">wiki</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/index.html">Home</a></li>
            <li><a href="../navbar-static-top/">Contact Us</a></li>
            <li><a href="../navbar-fixed-top/">Upload</li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>

    </div> <!-- /container -->
    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer" >
    
      <section id="main_content" class="inner" >

{{ content }}

       </section>
    </div>
    <!-- FOOTER  -->
    {% include footer.html %}

</body>
</html>