---

---
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Sdxlate : Xmile Translators and Related Development Tools ">

   <link rel="stylesheet" type="text/css" media="screen" href="/SDXlate/stylesheets/bootstrap.css">

    <link rel="stylesheet" type="text/css" media="screen" href="/SDXlate/stylesheets/stylesheet.css">
 
    <title>Sdxlate</title>
  </head>

<body>
    <!-- HEADER -->
    {% include page_header.html %}

<div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default">

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ><a href="/SDXlate/models/index.html">Models</a></li>
            <li><a href="./tools/index.html">Tools</a></li>
            <li><a href="./how-to/index.html">HowTo</a></li>
            <li><a href="./downloads/index.html">Downloads</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
             <li class="active"><a href="/SDXlate/index.html">Home</a></li>
            <li><a href="https://github.com/SDXchange/SDXlate/wiki">Wiki</a></li>
            <li><a href="http://github.com/SDXchange/SDXlate">Repository</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>

    </div> <!-- /container -->
    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer" >
    
      <section id="main_content" class="inner" >

{{ content }}

       </section>
    </div>
    <!-- FOOTER  -->
    {% include footer.html %}

</body>
</html>